@media screen and (max-width:991px) {
    .ginza {
        background-color: #fff;

        .container {
            margin: 0 112px;

            .icon {
                display: none;
            }

            .shop {
                display: flex;
                align-items: center;

                .glass {
                    .fa-magnifying-glass {
                        display: none;
                    }

                    span {
                        right: 45%;
                    }
                }

                .fa-bars {
                    display: block;
                }
            }
        }

        .text {
            display: none;
        }
    }

    .arriwals {
        .mySwiper {
            .swiper-wrapper {
                max-width: 662px;

                .swiper-slide {
                    img {
                        width: 100%;
                    }

                    .text {
                        top: 27%;
                        left: 12%;
                    }
                }
            }
        }
    }

    .decor {
        .container {
            margin: 0 15px;

            .cards {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .card {
                    width: 50%;
                }
            }

        }
    }

    .bestproducts {
        .container {
            display: flex;
            flex-direction: column;
            border: none;
            width: 662px;

            .decorative {
                display: flex;
                flex-direction: column;
                width: 672px;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                h3 {
                    font-size: 21px;
                }

                h2 {
                    font-size: 39px;
                }

                .tablist {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 28px;

                    li {
                        width: 672px;

                        a {
                            font-size: 14px;
                            font-weight: 550;
                        }
                    }
                }
            }

            .cards {
                margin: 0 auto;
                display: flex;

                .card {
                    padding: 0;
                    width: 321px;

                    .product-label {
                        .sale {
                            right: 20px;
                        }

                        .new {
                            left: 20px;
                        }
                    }

                    .img {
                        width: 321px;
                        height: 428px;
                    }
                }

                .card:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    .featured {
        .container {
            width: 672px;

            .cards {
                display: flex;
                flex-wrap: wrap;

                .card {
                    padding: 0;
                    width: 321px;

                    .product-label {
                        .sale {
                            right: 20px;
                        }

                        .new {
                            left: 20px;
                        }
                    }

                    .img {
                        width: 321px;
                        height: 428px;
                    }
                }

                .card:nth-child(3) {
                    display: none;
                }

                .card:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    .blackfriday {
        .container {
            .cards {
                .card {
                    .banner-content {
                        width: 160px;
                        top: 24%;
                        left: 10%;

                        h4 {
                            font-size: 14px;
                            margin: 0;
                            line-height: 0;
                        }

                        h3 {
                            font-size: 22px;
                            margin: 0;
                            line-height: 2;
                        }

                        a {
                            // line-height: 0;
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .arrivals {
        .container {
            width: 672px;

            .cards {
                display: flex;
                flex-wrap: wrap;

                .card {
                    padding: 0;
                    width: 321px;

                    .product-label {
                        .sale {
                            right: 20px;
                        }

                        .new {
                            left: 20px;
                        }
                    }

                    .img {
                        width: 321px;
                        height: 428px;
                    }
                }

                .card:nth-child(3) {
                    display: none;
                }

                .card:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    .customer {
        .mySwiper {
            padding: 0 25px;
            width: 672px;

            .swiper-wrapper {
                overflow: hidden;

                .swiper-slide {
                    .txt {
                        width: 622px;
                    }
                }
            }
        }
    }

    .blogs {
        .container {
            width: 662px;

            .cards {
                .card {
                    width: 48%;
                }

                .card:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    .discount {
        .container {
            width: 662px;
        }
    }

    .support {
        .openingtime {
            width: 662px;
            margin: 0 auto;

            .container {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .delivery {
                    width: 321px;
                    // height: 224px;
                    margin-bottom: 40px;
                }
            }

        }

        .copyright {
            .container {
                width: 672px;
            }
        }
    }

    .home {
        height: 244px;

        .container {
            h2 {
                font-size: 36px;
            }

        }
    }

    .experiences {
        .container {
            width: 672px;
        }
    }

    .creative {
        .container {
            width: 662px;

            .boxes {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .box {
                    width: 50%;
                    margin-bottom: 24px;

                }
            }
        }
    }

    .mission {
        .container {
            width: 662px;

            .cards {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .card {
                    margin-bottom: 12px;
                    width: 45%;

                    img {
                        width: 321px;
                        height: auto;
                    }
                }
            }
        }
    }

    .choose {
        max-width: 672px;
        display: flex;
        flex-direction: column;

        .container {
            margin: 0;

            .faq-accordion {
                width: 672px;

            }
        }

        .mySwiper {
            margin-top: 30px;

            .swiper-wrapper {
                width: 672px;
            }
        }
    }

    .showing {
        .container {
            width: 700px;
        }

        .products {
            display: flex;
            flex-direction: column;
            width: 670px;

            .sidebar {
                padding: 30px 30px 0 30px;
                order: 1;

                .common-sidebar {
                    width: 100%;

                    .sidebar-tag {
                        width: 100%;
                    }
                }
            }

            .cards {
                order: 0;

                .card {
                    width: 100%;

                    .all {
                        .img {
                            width: 194px;
                            height: 259px;
                        }
                    }

                    .product-content {
                        width: 418px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:759px) {
    .arriwals {
        max-width: 742px;

        .mySwiper {
            max-width: 742px;
            .swiper-wrapper {
                .swiper-slide {
                    .text {
                        img {
                            object-fit: cover;
                        }

                        h3 {
                            font-size: 18px;
                        }

                        h1 {
                            font-size: 30px;
                        }

                        button {
                            // width: 150px;
                            height: 45px;
                            line-height: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .decor {
        .container {
            .cards {
                height: 1335px;

                .card {
                    margin-bottom: 30px;
                    padding: 0 14px;
                    width: 100%;

                    .img {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .content {
                        bottom: 66%;

                        h3 {
                            font-size: 20px;
                            font-weight: 550;
                        }
                    }
                }
            }

        }
    }

    .bestproducts {
        .container {
            width: 492px;
            border-top: 1px solid #ebebeb;

            .decorative {
                // border-left: 3px solid #ebebeb;
                margin-bottom: 10px;
                height: 243px;
                width: 492px;

                .tablist {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    li {
                        height: 51px;
                        width: 246px;
                    }
                }

            }

            .cards {
                .card {
                    width: 231px;

                    .img {
                        width: 231px;
                        height: 308px;
                    }
                }
            }

        }
    }

    .featured {
        .container {
            width: 492px;

            .cards {
                .card {
                    width: 231px;

                    .img {
                        width: 231px;
                        height: 308px;
                    }
                }
            }
        }
    }

    .blackfriday {
        .container {
            .cards {
                display: flex;
                flex-wrap: wrap;

                .card {
                    margin-bottom: 30px;
                    width: 100%;

                    .banner-content {
                        top: 39%;
                        left: 8%;

                        h3 {
                            margin-top: 8px;
                            line-height: 1.3;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    .arrivals {
        .container {
            width: 492px;

            .cards {
                .card {
                    width: 231px;

                    .img {
                        width: 231px;
                        height: 308px;
                    }
                }
            }
        }
    }

    .customer {
        .mySwiper {
            max-width: 520px;

            .swiper-wrapper {
                .swiper-slide {
                    .txt {
                        width: 442px;
                    }
                }
            }
        }
    }

    .blogs {
        .container {
            width: 492px;

            .cards {
                .card {

                    a {
                        font-weight: 550;
                    }
                }
            }
        }
    }

    .discount {
        width: 492px;
        margin: 0 auto;

        .container {
            width: 491px;

            form {
                width: 488px;

                input {
                    width: 318px;
                }

                button {
                    width: 150px;
                }
            }
        }
    }

    .support {
        .openingtime {
            width: 492px;

            .container {
                .delivery {
                    width: 231px;
                }
            }
        }

        .copyright {
            .container {
                width: 492px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .home {
        .container {
            height: 217px;

            h2 {
                font-size: 30px;
            }
        }
    }

    .experiences {
        .container {
            width: 492px;

            h4 {
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
    }

    .creative {
        .container {
            width: 520px;

            .boxes {
                .box {
                    width: 48%;

                    p {
                        line-height: 23px;
                    }
                }
            }
        }
    }

    .mission {
        .container {
            width: 520px;

            .cards {
                .card {
                    width: 48%;
                    margin-bottom: 20px;

                    img {
                        width: 231px;
                        height: auto;
                    }
                }
            }
        }
    }

    .choose {

        .container {
            width: 520px;
            margin: 0 auto;

            .faq-accordion {
                width: 520px;
                margin-bottom: 20px;
            }
        }

        .mySwiper {
            width: 520px;
            margin: 0 auto;
        }
    }

    .showing {
        .container {
            width: 520px;

            .topbar {
                p {
                    margin-left: 8px;
                }
            }
        }

        .products {
            width: 520px;

            .cards {
                .card {
                    .all {
                        .img {
                            width: 231px;
                            height: 308px;
                        }

                    }

                    .product-content {
                        width: 231px;

                        .product-desc {
                            padding-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:575px) {
    .ginza {
        width: 558px;
        .container {
            max-width: 558px;
            display: flex;
            justify-content: space-between;
        }
       
    }

    main {
       width: 558px;

        section {
            width: 558px;

            .container {
                width: 402px;
            }
        }

    }

    .arriwals {
        width: 558px;
        .mySwiper {
            .swiper-wrapper {
                max-width: 558px;
                .swiper-slide {
                    img {
                        height: 350px;
                    }
                }
            }
        }
    }

    .decor {
        .container {
            width: 558px;
            .cards {
                height: 1000px;
                .card {
                    width: 100%;
                    height: 308px;
                    margin: 0;
                    .img {
                        width: 100%;
                    }
                    .content {
                        bottom: 59%;
                    }
                }
            }
        }
    }

    .bestproducts {
        .container {
            width: 430px;
            .decorative {
                width: 430px;
                .tablist {
                    width: 430px;
                    li {
                        width: 201px;
                    }
                }
            }
            .cards {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 402px;
                .card {
                    width: 100%;
                    .img {
                        width: 100%;
                        height: 536px;
                    }
                }
                .card:nth-child(2) {
                    display: none;
                }
            }

        }
    }

    .featured {
        .container {
            width:430px;
            .cards {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 402px;
                .card {
                    width: 100%;
                    .img {
                        width: 100%;
                        height: 536px;
                    }
                }
                .card:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .blackfriday {
        .container {
            width: 556px;
        }
    }

    .arrivals {
        .container {
            width:430px;
            .cards {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 402px;
                .card {
                    width: 100%;
                    .img {
                        width: 100%;
                        height: 536px;
                    }
                }
                .card:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .customer {
        .mySwiper {
            width: 402px;
            .swiper-wrapper {
                .swiper-slide {
                    width: 352px;
                    .txt {
                        width: 352px;
                    }
                }
            }
        }
    }

    .blogs {
        .container {
            width: 402px;
        }
    }

    .home {
        .container {
            width: 558px;
        }
    }

    .experiences {
        .container {
            width: 402px;
        }
    }

    .creative {
        .container {
            width: 402px;
            .boxes {
                .box {
                    width: 100%;
                    p {
                        width: 250px;
                    }
                }
            }
        }
    }

    .mission {
        .container {
            width: 402px;
            .cards {
                .card {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .choose {
        width: 558px;
        .container {
            width: 402px;
            .faq-accordion {
                width: 402px;
            }
        }
        .mySwiper {
            width: 402px;
            .swiper-wrapper {
                width: 402px;
            }
        }
    }

    .showing {
        .products {
            max-width: 402px;

            .cards {
                .card {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0;

                    .all {
                        .img {
                            width: 100%;
                            height: 536px;
                        }

                    }

                    .product-content {
                        width: 402px;
                    }
                }
            }
        }
    }

    .discount {
        .container {
            width: 402px;
            form {
                width: 398px;
                height: 45px;

                input {
                    width: 308px;
                    padding-right: 0;
                    height: 40px;
                }

                button {
                    width: 136px;
                    height: 40px;

                    .submit {
                        width: 100%;
                    }
                }
            }
        }
    }

    .support {
        width: 558px;
        .openingtime {
            .container {
              width: 402px;
            }
        }

        .copyright {
            .container {
                width: 402px;
            }
        }
    }
}