* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    max-width: 1152px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}