.support {
    background-color: #f6f6f6;

    .openingtime {
        padding-bottom: 40px !important;
        padding-top: 80px;

        .container {
            display: flex;
            justify-content: space-between;

            .delivery {
                .logo {
                    margin-bottom: 30px;
                    width: 107px;
                    height: 30px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    font-size: 13px;
                    line-height: 23px;
                    color: #929292;

                }

                h3 {
                    font-size: 16px;
                    line-height: 22px;
                    margin-bottom: 15px;
                    font-weight: 500;
                    margin-bottom: 15px;
                    margin-top: 30px;
                }

                .social {
                    i {
                        font-size: 13px;
                        line-height: 28px;
                        color: #929292;
                        margin-right: 17px;
                        cursor: pointer;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }

            .delivery {
                .firstlist {
                    margin-bottom: 30px;

                    a {
                        font-size: 16px;
                        font-weight: 600;
                        white-space: nowrap;
                        text-transform: capitalize;
                        line-height: 1.2;
                        color: #292929;
                    }
                }

                li {
                    margin-bottom: 15px;

                    a {
                        font-size: 13px;
                        line-height: 23px;
                        color: #929292;
                    }
                }

                .endlist {
                    margin-top: 50px;

                    a {
                        font-size: 13px;
                        line-height: 17px;
                        font-weight: 500;
                        color: #292929;
                        line-height: 1.2;

                    }
                }
            }
        }
    }

    .copyright {
        .container {
            border-top: 2px solid #ebebeb;
            padding: 25px 0;
            display: flex;
            justify-content: space-between;

            p {
                line-height: 30px;
                font-size: 13px;
                color: #929292;

                a {
                    color: #ee3333;
                }
            }

            ul {
                display: flex;

                li {
                    margin-left: 40px;
                    a {
                        font-size: 13px;
                        line-height: 19px;
                        color: #929292;
                        &:hover {
                            color: #ee3333;
                        }
                    }
                }
            }
        }
    }
}